<div class="wrap faint" style="display: flex; align-items: center">
  <a href="https://www.synackjack.co.uk" class="plain ssr"
    ><img
      src="{{site.github.url}}/assets/jack.jpg"
      width="40px"
      height="40px"
      class="round"
      style="border-radius: 50%; border: 1.5px solid #dcc3ad"
  /></a>
  <a href="https://github.com/synackjack" class="muted ssr" target="_blank"
    >GitHub</a
  >
  <a href="https://twitter.com/synackjack" class="muted ssr" target="_blank"
    >Twitter</a
  >
</div>
